*{
    border: 0;
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

.btn-outline-success{
   border-color: rgb(255, 115, 0);
   color: rgb(255, 115, 0);
}

.btn-outline-success:hover{
    background-color: rgb(255, 115, 0);
}

.user-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(229, 229, 229);
}

.login{
    height: 30%;
    width:25%;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px;
    
}

